#navbar {
  background-color: #4D6BA5;
  color: white;
}

strong, em {
  color: #4D6BA5;
}

#navbar-container {
  width: 955px ;
  margin-right: auto;
  margin-left: auto;
  
}

#navbar-ul {
  height: 30px;
  display: table-row;
}

#navbar ul li {
    height:30px;
    display: table-cell;
}

#navbar ul li:hover {
    background-color:#19668E;
    
}

#navbar ul li a {
  display: table-cell;
  vertical-align: middle;
  color:white;
  padding:10px 10px 10px 10px;
}

li.nested ul a {
  display:block;
}


h2 {
  background-color:#D7E9F2;
  padding: 10px 10px 10px 10px;
}

h2, h3 {
  padding-left:5px;
}

tr:hover {
  background-color:#F2F2F2;
}


.list-group-item.active {
  background-color:#19668E;
  border-color:#19668E;
}

.list-group-item.active:hover {
  background-color:#19668E;
  border-color:#19668E;
}

.small-code pre code {
  font-size: 1em;
}

.footer {
    color: black;
    top: 90%;
    text-align:right;
    width:100%;
}